# FastAPI 및 웹 서버
fastapi
uvicorn[standard]

# Prometheus Exporter
prometheus-fastapi-instrumentator

# AWS SDK
boto3

# 데이터 처리 및 과학 계산
numpy
pandas
joblib
h5py

# 머신러닝/딥러닝
lightgbm==4.5.0

# HTTP 요청 (외부 API 등 호출 시만)
requests